<!DOCTYPE html>
<html>
  
  <title>Waya.ai, Inc</title>
  <link rel="shortcut icon" type="image/png" href="https://github.com/wayaai/Waya.ai/raw/master/resources/favicon.png">
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
      opacity: 0.7;
  }
    
  .fa-envelope {
    background: #dd4b39;
    color: white;
  }
    
  .fa-github {
    background: #333;
    color: white;
  }
    
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
    
  .fa-medium {
    background: #00ab6c;
    color: white;
  }
  </style>
    
  <body>
  
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="https://waya.ai" class="w3-bar-item w3-button"><b>Waya.ai, Inc</b></a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
          <a href="#about" class="w3-bar-item w3-button">About</a>
          <a href="https://blog.waya.ai" class="w3-bar-item w3-button">Blog</a>
          <a href="https://github.com/wayaai" class="w3-bar-item w3-button">GitHub</a>
          <a href="#services" class="w3-bar-item w3-button">Services</a>
          <a href="#contact" class="w3-bar-item w3-button">Contact Us</a>
        </div>
      </div>
    </div>

    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide w3-padding-64" style="max-width:375px;" id="home">
      <img class="w3-image" src="https://github.com/wayaai/Waya.ai/raw/master/resources/logo.png" alt="Logo" width="375" height="200">
      <div class="w3-display-middle w3-margin-top w3-center"></div>
    </header>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">

      <!-- About Section -->
      <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
        <p>Waya.ai is creating a future where medical conditions are addressed early on, in their infancy. This approach will shift the health-care industry from a constant fire-fight against symptoms to a preventative approach where root causes are addressed and fixed. Our first step to realize this vision is an easy, precise and available diagnostic service.
        </p>
      </div>

      <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
          <img src="https://github.com/wayaai/Waya.ai/raw/master/resources/usab_pic_michael_dietz.png" alt="Mike" width="150" height="150">
          <h3>Michael Dietz</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>Experienced software engineer specialized in data engineering/science and deep/machine learning. 
             Previously software engineer at Nordic Semiconductor ASA and Intel, Inc. 
          </p>
            <div>
              <!-- Add font awesome icons -->
              <a href="mailto:michael.dietz@waya.ai" class="fa fa-envelope"></a>
              <a href="https://github.com/mjdietzx" class="fa fa-github"></a>
              <a href="https://www.linkedin.com/in/michael-dietz-40518365" class="fa fa-linkedin"></a>
              <a href="https://medium.com/@waya.ai" class="fa fa-medium"></a>
          </div>
        </div>
      </div>

      <!-- Services Section -->
      <div class="w3-container w3-padding-32" id="services">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Services</h3>
        <p>We offer a boutique software engineering consulting service specializing in data engineering/science and deep/machine learning.
           We focus on delivering a correct, simple solution while using the best tool(s) for the job (we've contributed to tensorflow/keras and pytorch, and have a solid grasp on the most current languages, libraries, frameworks, and tools).
           We've completed long term contracts and projects for companies ranging from 500+ employees to early stage startups.
        </p>
      </div>

      <!-- Contact Section -->
      <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
        <p>Lets get in touch and talk about your and our next project.</p>
        <form action="https://formspree.io/your@email.com" method="POST">
          <input class="w3-input" type="text" placeholder="Name" required name="Name">
          <input class="w3-input w3-section" type="text" placeholder="Email" required name="Email">
          <input class="w3-input w3-section" type="text" placeholder="Subject" required name="Subject">
          <input class="w3-input w3-section" type="text" placeholder="Comment" required name="Comment">
          <button class="w3-button w3-black w3-section" type="submit">SEND MESSAGE</button>
        </form>
      </div>

    <!-- End page content -->
    </div>

    <!-- Google Map -->
    <div id="googleMap" style="width:100%;height:450px;"></div>

    <!-- Add Google Maps -->
    <script>
    function myMap()
    {
      myCenter=new google.maps.LatLng(40.1020, -88.2272);
      var mapOptions= {
        center:myCenter,
        zoom:12, scrollwheel: false, draggable: false,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

      var marker = new google.maps.Marker({
        position: myCenter,
      });
      marker.setMap(map);
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp81fi-nvUAat1Sw0-jNYAHsnT6AO_a-4&callback=myMap"></script>

    <!-- Add Google Analytics -->
    {% if site.google_analytics %}
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', '{{ site.google_analytics }}', 'auto');
          ga('send', 'pageview');
      </script>
    {% endif %}

  </body>
  
</html>
